/* index.html */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* IMPORTANT */
}

body {
    min-height: 100vh;
    background-image: url("images/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* HEADING */
.heading {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.heading h1 {
    color: #4f7647;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 60px;
}

/* JOIN US BUTTON */
.login {
    position: absolute;
    top: 15px;
    right: 20px;
    border: 2px solid #365d46;
    background-color: #598d4e;
    padding: 13px 10px;
    border-radius: 25px;
    width: 100px;
    text-align: center;
    color: white;
    cursor: pointer;
}

/* MAIN CONTENT */
.content {
    margin-top: 160px;
    margin-left: 80px;
}

.content h1 {
    font-size: 90px;
    color: #0b5037;
}

/* IMAGE CONTAINER */
.image {
    width: 400px;
    margin-top: 25px;
    padding: 0 25px;
}

/* IMAGE FIX */
.image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* GLOBAL IMAGE SAFETY */
img {
    max-width: 100%;
    height: auto;
}

/* BUTTON */
button {
    border: 2px solid #365d46;
    background-color: #598d4e;
    padding: 10px 25px;
    border-radius: 24px;
    margin-left: 30px;
    margin-top: 15px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}


